#form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 70%;
    height: auto;
}


#input-and-label-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}

label {
    margin: 0;
    padding: 20px 2px 2px 5px;
}

input {
    margin: 0;
    padding: 3px;
    font-size: inherit;
    border-radius: 0.3rem;
}

.form-button {
    padding: 8px 0;
    margin: 5px 10px;
}
