#navbar {
    position: fixed;
    bottom: 0;
    border: solid 1px black;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    list-style: none;
    background-color: var(--secondary-color);
    color: black;
}

#navbar-backlog {
}

#navbar-create {
}

#navbar-calendar {
}
