#homepage {
    height: 50vh;
    justify-content: flex-end;
}

#homepage-text-and-button {
    width: 70%;
    max-width: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.homepage-text{
    padding-left: 15px;
    align-self: center;
}
