

body {
    padding: 20px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #E6F0FA;
    --secondary-color:#CCE1F4
}

h1, h2, h3 {
    color: #007bff;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #5A9DE8;
            /*#007BFF;*/
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}