#vocab-list {
    list-style: none;
    font: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
}

#search-section {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-content: center;*/
    /*width: 100%;*/
    /*max-width: 300px;*/
    /*gap: 10px;*/
    /*padding: 0;*/
    /*margin: 0 25px 0 20px;*/
}

#search-section-input-and-button{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 95%;
}

#input {
    margin: 0 0 0 3px;
    width: 100%;
    border-radius: 0.5rem;
}

#reset-button {
    margin: 0;
}

#list {
    width:100%;
    list-style: none;
    padding: 0;
    margin: 0;
    font: inherit;
    gap: 0;
    overflow-y: auto;
}

.list-calendar-mode {
    flex-direction: column;
    max-height: 100%;
}

.list-backlog-mode {
    width: 320px;
    min-width: 260px;
    /*margin: 10px;*/
    /*padding: 0;*/
    flex-wrap: wrap;
    max-height: 300px;
}




