#vocab-list {
    list-style: none;
    color: inherit;
    font: inherit;
    width: 100%;
    margin: 0;
    padding: 0
}

.list-item {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    padding: 10px;
}

.list-item-word-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list-item-button-wrapper {
    margin: 0; padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}