#day-popup {
    width: 15rem;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 20px 10px 20px 20px;
    /*overflow: hidden;*/

}

#date {
    padding: 0;
    margin: 5px 0 10px 0;
}

