#day-popup {
    width: 15rem;
    max-width: 500px;
    height: auto;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding:  20px 20px 20px 10px;
}

#date {
    padding: 0;
    margin: 5px 0 20px 0;
}

