#list-item{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
}

.list-item-calendar-mode {
    max-width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    min-width: 100px;
}

.list-item-backlog-mode {
    margin: 10px;
    padding: 25px 20px 20px 20px;
    width: 250px;
    height: 110px;
    min-width: 260px;
    font-size: 20px;
}

#text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0 15px 0 0;
    height: 100%;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-wrapper-backlog-mode{
    width: 100%;
}
.text-wrapper-calendar-mode{
    width: 100px;
}

#translation-and-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*overflow: hidden;*/
}


#vocab-word, #vocab-translation {
    margin: 0;
    padding: 0;
}

#vocab-info {
    font-style: italic;
    font-size: 13px;
    margin: 0;
    padding: 0;
}


#list-item-button-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    right: 2px;
    justify-content: space-evenly;
}

.list-item-button {
    height: 25%;
}

.de_activate-button-non-editable-vocab {
    padding: 15px 5px;
}
