#list-item {
    display: flex;
    justify-content: space-between;
    max-height: 100%;
}

.list-item-calendar-mode {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
}

.list-item-backlog-mode {
    margin: 10px;
    padding: 30px 20px 20px 20px;
}

#text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    padding: 0 20px 0 0;
    height: 100%;
    width: 50%;
    line-height: 25px;
    word-wrap: break-word;
}

.text-wrapper-backlog-mode {
    width: 200px;
}

.text-wrapper-calendar-mode {
    width: 100px;
}

#translation-and-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    word-wrap: break-word;
}

#vocab-word, #vocab-translation {
    margin: 0;
    padding: 0;
}

#vocab-info {
    font-style: italic;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#list-item-button-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    right: 2px;
    justify-content: space-evenly;
}

.list-item-button {
    height: 25%;
}

.de_activate-button-non-editable-vocab {
    padding: 15px 5px;
}
